body {
    background: rgb(70,73,76);
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
}

#container {
    text-align: center;
    background: rgb(220,220,221);
    border-radius: 5px 5px 5px 5px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 700px;
}


h2{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    color: rgb(44,43,60);
}

#container #login{
/*    display: block;
    max-height: 170px;
    margin: auto;*/
}

#login {
    padding-bottom: 30px;
}

#logo img {
    max-height: 200px;
    //margin: auto;
    margin-top: 2em;
    
}
#logo h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 45px;
    width: 270px;
    //float: right;
}
h1 {
margin-left: 15px;
}

#page-logo{
    color: #FFF;
   // padding-left: 10px;
    display:inline-block;
}

#login form {
    padding: inherit;
    display: block;
    text-align: center;
    font-size: x-large;
    font-family: monospace;
    margin-top: 170px;
}

#login h1 {
    margin-top: 1px;
}

nav ul {
    float: right;
    width: auto;
    padding: 25px;
    margin: auto;
    border-left: black dashed thin;
    list-style: none;
}


#logo{
    margin-left: 30px;
    margin-top: 30px;
}

nav li {
    font-size: 17px;
    padding: 10px;
}
nav li 
#page-logo{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-flex;
}
#page-pic {
    max-height: 80px;
}

.button {
    padding: 10px 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    background: rgb(44,43,60);
    color: white;
}

.button:hover {background-color: rgb(64,63,76)}

.nav:hover {
    background-color: rgb(64,63,76)
}

.form-signup{
    width: 450px;
    padding-top: 0px;
    padding: 30px;
    margin: auto;
    background: #FFF;
    border-radius: 10px;
}

ul {
    padding-left: 2em;
    margin: 0 0 20px 0;
    list-style: none;
}

h1, h2 {
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: teal;
}

a:visited { 
    color: black;
    text-decoration: none;
}


/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: teal;
}

/*h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
    float: none;
    padding-top: 1em;
}

p {
    padding: 0;
    margin: 0 0 20px 0;
}


a:hover {
    text-decoration: none;
}



ul li {
    padding: 5px 0;
}

ui li input[type='text'], ul li input[type='password']{
    width: 200px
}


.logo {
    font: 2em Arial;
    margin: 0 0 10px 0;
    padding: 0;
    width: 200px;
    color: #fff;
}



body {
    background: lightslategray;
    font-family: Arial;
    font-size: 0.8em;
}

header {
    width: 940px;
    padding: 10px;
    margin: 0 auto 10px auto;
}


footer {
    border-radius: 0 0 5px 5px;
}*/

#table {
    float: center;
    margin-bottom: 3em;
    margin-top: 3em;
}




tr:nth-child(odd) {
    background-color: #ccc;
}

fieldset{
  width: 60%;
  margin-left: 10%;
}